# api/requirements.txt
fastapi==0.111.0
uvicorn==0.29.0
pydantic==2.7.1
lightgbm==4.3.0
scikit-learn==1.4.2
pandas==2.2.2
numpy==1.26.4
shap==0.45.0
joblib==1.4.2
prometheus-client==0.20.0
evidently==0.4.30